<div class="row justify-content-center mt-4">

  <div class="col-12 col-sm-12 d-flex  align-items-center" >
    <div class="icon-volver mx-1" (click)="volver()" >
      <img src="assets/images/back-icon.png" alt="" class="img-fluid">
    </div>
    <span>
        Volver
    </span>
</div>

    <div class="col-8 col-sm-8">
      <h1 class="text-center">Registrar Producto</h1>
        <form #formProducto="ngForm" >
            <div class="form-group mb-3">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" 
                    placeholder="Ingrese nombre" id="nombre" name="nombre"  #nombre="ngModel" [(ngModel)]="producto.nombre"  [required]="true" >
                    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger rounded-0 mt-1">
                      <div *ngIf="nombre.errors?.['required']" class="alert-danger">
                        Debe ingresar el nombre del producto antes de continuar con el registro.
                      </div>
                    </div>
            </div>
            <div class="form-group mb-3">
                <label for="descripcion">Descripcion</label>
                <textarea class="form-control" id="descripcion" rows="3" name="descripcion" #descripcion="ngModel" [(ngModel)]="producto.descripcion" [required]="true"></textarea>

                <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-danger rounded-0 mt-1">
                  <div *ngIf="descripcion.errors?.['required']" class="alert-danger">
                    Debe ingresar la descripcion del producto antes de continuar con el registro.
                  </div>
                </div>

            </div>
            <div class="form-group mb-3">
                <label for="precio">Precio</label>
                <input type="number" class="form-control" id="precio" 
                    placeholder="Ingrese Precio" name="precio" #precio="ngModel" [(ngModel)]="producto.precio" required>
                    <div *ngIf="precio.invalid && (precio.dirty || precio.touched)" class="alert alert-danger rounded-0 mt-1">
                      <div *ngIf="precio.errors?.['required']" class="alert-danger">
                        Debe ingresar el precio del producto antes de continuar con el registro.
                      </div>
                    </div>
            </div>
            <div class="form-group mb-3">
                <label for="stock">Stock</label>
                <input type="number" class="form-control" id="stock" 
                    placeholder="Cantidad de stock" name="stock" #stock="ngModel" [(ngModel)]="producto.stock" required>
                    <div *ngIf="stock.invalid && (stock.dirty || stock.touched)" class="alert alert-danger rounded-0 mt-1">
                      <div *ngIf="stock.errors?.['required']" class="alert-danger">
                        Debe ingresar el stock del producto antes de continuar con el registro.
                      </div>
                    </div>
            </div>
            <div class="form-group mb-3">
              <label for="stock">Url Imagen</label>
              <input type="text" class="form-control" id="url" 
                  placeholder="Url Imagen" name="url" #urlImagen="ngModel" [(ngModel)]="producto.img" required>
                  <div *ngIf="urlImagen.invalid && (urlImagen.dirty || urlImagen.touched)" class="alert alert-danger rounded-0 mt-1">
                    <div *ngIf="urlImagen.errors?.['required']" class="alert-danger">
                      Debe ingresar la url de la imagen del producto antes de continuar con el registro.
                    </div>
                  </div>
          </div>

<!--
            <div class="form-check mb-3">
              
              <input
              type="file"
              id="fileInput"
              accept="image/*"
              class="form-control" 
              (change)="onFileSelected($event)"/>
            </div>
            -->
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" [value]=true checked [(ngModel)]="producto.destacado" required="true">
                <label class="form-check-label" for="exampleRadios1">
                 Destacado
                </label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" [value]=false [(ngModel)]="producto.destacado ">
                <label class="form-check-label" for="exampleRadios2">
                  No Destacado
                </label>
              </div>

             Destacado: {{producto.destacado}}
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" (click)="registrar()" [disabled]="!formProducto.valid">Registrar</button>
              </div>
        </form>
    </div>
</div>