<div class="row">
    <h1 class="title text-center">Transacciones Realizadas</h1>
    <div class="col-12 col-sm-12 mb-4">
        <div class="row justify-content-end">
            <div class="col-auto">
                <button class="btn btn-primary" [routerLink]="'/formTransaccion'">Realizar Transaccion</button>
            </div>
        </div>
    
    </div>


    <div class="col-12 col-sm-12 mb-4">



    <div class="row justify-content-between mb-4">

      
        <div class="col-8 col-sm-8">
           
            <div class="d-flex justify-content-center align-items-start">
                <label class="mx-3" for="autoSizingSelect">Desde:</label>
                <select class="form-control" id="autoSizingSelect" name="filtro" [(ngModel)]="desde" (change)="verificar()">
                    <option value="" selected></option>
                    <option *ngFor="let moneda of monedas" [value]="moneda.symbol" class="text-truncate">{{moneda.name}}</option>
                </select>
                
                <label class="mx-3" for="autoSizingSelect">Hacia:</label>
                <select class="form-control" id="autoSizingSelect" name="filtro"  [(ngModel)]="hacia"  (change)="verificar()" >
                    <option  value="" selected></option>
                    <option *ngFor="let moneda of monedas" [value]="moneda.symbol" class="text-truncate">{{moneda.name}}</option>
                </select>
            </div>
        </div>


        <div class="col-4 col-sm-4">

            <div *ngIf="limpia">
                <span class="clear-icon btn" (click)="limpiarFiltro()" >&#10005; Limpiar filtro</span>
            </div>
            
        </div>

    </div>
    </div>

    <div class="col-12 col-sm-12 table-responsive" *ngIf="transacciones.length>0">
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Origen</th>
                    <th scope="col">Cantidad Origen</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Cantidad Destino</th>
                    <th scope="col">Email cliente</th>
                    <th scope="col" colspan="2">Tasa de Conversion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let log of transacciones">
                    <th scope="row">ID</th>
                    <td>{{log.monedaOrigen}}</td>
                    <td>{{log.cantidadOrigen}}</td>
                    <td>{{log.monedaDestino}}</td>
                    <td>{{log.cantidadDestino}}</td>
                    <td>{{log.emailCliente}}</td>
                    <td colspan="2">{{log.tasaConversion}}</td>
                </tr>
            </tbody>
        </table>

    </div>


    <div class="col-12 col-sm-12" *ngIf="transacciones.length===0">

        <h1 class="text-center">No hay transacciones para mostrar</h1>
    </div>

</div>